*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

body{
  background-color: #1F41A9;
  background-image: url(./assets/BG.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

